/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
/*
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #2E802E
$codeBgColor = #282c34*/

// colors
$accentColor = #1b6e12
$textColor = #121021
$borderColor = #2E802E

// $codeBgColor = #110d26
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3rem
$sidebarWidth = 20rem
$contentWidth = 1200px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 800px
$MQMobileNarrow = 419px

* {
  box-sizing: border-box;
  outline:none
}